In [1]:
!pip install mgrs

Collecting mgrs
  Downloading https://files.pythonhosted.org/packages/e4/16/d7f14c8e92da53798396428d715ba161bfbff1f7c2db0ec9d796e1354308/mgrs-1.4.0-cp37-cp37m-manylinux1_x86_64.whl (47kB)
     |████████████████████████████████| 51kB 2.7MB/s
Requirement already satisfied: wheel in /usr/local/lib/python3.7/dist-packages (from mgrs) (0.36.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from mgrs) (56.1.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from mgrs) (20.9)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->mgrs) (2.4.7)
Installing collected packages: mgrs
Successfully installed mgrs-1.4.0

In [2]:
import numpy as np
import pandas as pd
import sqlite3
import math
import mgrs
from itertools import product
import statistics
from sklearn.impute import KNNImputer
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [ ]:
def missingByCol(df): #count missing values by column
    for col in df.columns:
        if df[col].isna().sum() != 0:
            print(col, df[col].isna().sum())

def getCalTbl(start='2000-01-01', end='2015-12-31'):
    df = pd.DataFrame({'date': pd.date_range(start, end)})
    df['year'] = df.date.dt.year
    df['day_of_year'] = df.date.dt.dayofyear
    df['month'] = df.date.dt.month
    df['month_name'] = df.date.dt.month_name()
    df['day'] = df.date.dt.day
    df['day_of_week'] = df.date.dt.dayofweek
    df['day_of_week_name'] = df.date.dt.day_name()
    return df
    
'''
Run classification on data set with chosen clfs for each combination of hypers
Store results in a sorted list
Print all results
'''
def clfRun(a_clf, data, clf_hyper={}):
  M, L, n_folds = data # unpack data container
  kf = KFold(n_splits=n_folds) # Establish the cross validation
  ret = {} # classic explication of results
 
  for ids, (train_index, test_index) in enumerate(kf.split(M, L)):
       
    clf = a_clf(**clf_hyper) # unpack parameters into clf if they exist
 
    clf.fit(M[train_index], L[train_index])
 
    pred = clf.predict(M[test_index])
 
    ret[ids]= {'clf': clf,
              'train_index': train_index,
              'test_index': test_index,
              'accuracy': accuracy_score(L[test_index], pred)}
 
  return ret
 
def clfHypers(clfsList):
    ret_hyper = dict()
    for clf in clfsList:
        clfString = str(clf)  # Check if values in clfsList are in clf_hyperict
        for k1, v1 in clf_hyper.items():  # go through first level of clf_hyperict
            if k1 in clfString:            # if clfString1 matches first level
                ret_hyper[clf] = [dict(zip(v1, s))
                                  for s in product(*v1.values())]
    return ret_hyper
 
def clfGridSearch(X, y, n_folds):
      # suppress future warnings
      with warnings.catch_warnings():
            # ignore all caught warnings
            warnings.filterwarnings("ignore")
 
      # n_folds = 5
 
      data = (X, y, n_folds)


      hyper_param_dict = clfHypers(clfsList) 
 
      # run grid search to find best hyper params
      clfsAccuracyDict = {}
      results = {}
      for clfs in clfsList:
            for i in hyper_param_dict[clfs]:
                 
                  clf_hyper = i
 
                  results = clfRun(clfs, data, clf_hyper)
 
                  for key in results:
                        k = results[key]['clf']
                        v = results[key]['accuracy']
 
                        kTest = str(k)
 
                        kTest = kTest.replace('         ', ' ')
                        kTest = kTest.replace('        ', ' ')
 
                        if kTest in clfsAccuracyDict:
                             
                              clfsAccuracyDict[kTest].append(v)
                        else:
                              clfsAccuracyDict[kTest] = [v]
           
      clfsAccuracyList_sorted = sorted(clfsAccuracyDict.items(), key = lambda item: statistics.mean(item[1]), reverse = True)
 
      for i in clfsAccuracyList_sorted:
            print('\nClassifier with Parameters:', i[0], '\nMeanAccuracy', statistics.mean(i[1]))

def clfResults(clf, X_train, y_train, X_test, y_test):
 
    clfTmp = clf.fit(X_train, y_train) #fit model on training data
    y_pred = clfTmp.predict(X_test) #produce predictions (0/1) on test data
    y_pred_prob = clfTmp.predict_proba(X_test) #produce prediction probabilites (0 <= p <= 1) on test data
    y_pred_prob = y_pred_prob[:, 1] # only take second column.  first column is inverse prob
    tn, fp, fn, tp = confusion_matrix(y_test,y_pred).ravel() #get confusion matrix on test data
    total_obs = (tp + tn + fp + fn)
   # print(tn, fp, fn, tp)
 
 
    clfAcc = (tp + tn) / (tp + tn + fp + fn) # accuracy of entire model
    clfPrecision = tp / (tp + fp) # precision is the ability of the classifier not to label as positive a sample that is negative
    clfRecall = tp / (tp + fn) # recall is the ability of the classifier to find all the positive samples
 
    # return(clfAcc, clfPrecision, clfRecall)
    print('-----------------------Confusion Matrix------------------------'
        , '\n  Predicted|--------------------Actual------------------------'
        , '\n           |        Yes            |         No                |   Total   '
        , '\n--------------------------------------------------------------'
        , '\n        Yes|        '+ str(tp)+'            |        '+str(fp)+'               |    '+str(tp+fp)
        , '\n--------------------------------------------------------------'
        , '\n         No|        '+ str(fn)+'             |        '+str(tn)+'              |    '+str(fn+tn)
        , '\n--------------------------------------------------------------'
        , '\n      Total|        '+ str(tp+fn)+'            |        '+str(fp+tn)+'              |    '+str(total_obs)
        , '\n'
        )
    # print('Test Total Obs: ', total_obs)
    print('Accuracy: ', np.round(clfAcc,6), '\nPrecision: ', np.round(clfPrecision,6), '\nRecall: ', np.round(clfRecall,6))

Import Data: Need to copy and paste sqllite file from Kaggle into local drive path.
FPA_FOD_20170508.sqlite https://www.kaggle.com/rtatman/188-million-us-wildfires             
        
Metadata:   
Fires - Target data - Kaggle        
Time - Calendar data - Omits Dec through March (non fire season)      
Location - MGRS - Military Grid Ref. Sys. with lat/lon                      
Weather - USGS - Precip and Temp only (for now)

# Get Fire Data

In [ ]:
#conn = sqlite3.connect('C:/Users/balso/Downloads/FPA_FOD_20170508.sqlite')

In [4]:
# Imports

# To mount Google Drive and read/write files
from google.colab import drive

# read file from drive
#from google.colab import drive
drive.mount('/content/gdrive')
conn = sqlite3.connect('/content/gdrive/MyDrive/SMU/msds_7346_cloud/project/USWildfireAnalysis/data/FPA_FOD_20170508.sqlite')

Mounted at /content/gdrive

## Add MGRS Data to Fire Data

In [ ]:


ca_fires = pd.read_sql_query('select * from fires where State = "CA";', conn) # 

m = mgrs.MGRS() #mgrs API
to_mgrs_1m = [] #precision 5
to_mgrs_10m = [] #precision 4
to_mgrs_100m = [] #precision 3
to_mgrs_1km = []  #precision 2
to_mgrs_10km = []  #precision 1
to_mgrs_100km = []  #precision 0
to_mgrs_lat_10km = []
to_mgrs_lon_10km = []
ca_fires_data = pd.DataFrame()

ca_fires_data['object_id'] = ca_fires['OBJECTID']
ca_fires_data['reporting_unit'] = ca_fires['NWCG_REPORTING_UNIT_NAME']
ca_fires_data['fire_date_num'] = ca_fires['DISCOVERY_DATE']
ca_fires_data['fire_date_cal'] = pd.to_datetime(ca_fires['DISCOVERY_DATE'], unit='D', origin='julian') #convert numeric to calendar date
ca_fires_data['fire_year'] = ca_fires['FIRE_YEAR']
ca_fires_data['fire_month'] = ca_fires_data['fire_date_cal'].dt.month_name()
ca_fires_data['fire_day_of_week'] = ca_fires_data['fire_date_cal'].dt.day_name()
ca_fires_data['fire_class'] = ca_fires['FIRE_SIZE_CLASS']
ca_fires_data['lat'] = ca_fires['LATITUDE']
ca_fires_data['lon'] = ca_fires['LONGITUDE']

for i, j in zip(ca_fires_data['lat'].tolist(), ca_fires_data['lon'].tolist()):
    to_mgrs_1m.append(m.toMGRS(i, j, MGRSPrecision=5)) # use mgrs API to convert lat/lon to MGRS conventions
    to_mgrs_10m.append(m.toMGRS(i, j, MGRSPrecision=4)) 
    to_mgrs_100m.append(m.toMGRS(i, j, MGRSPrecision=3)) 
    to_mgrs_1km.append(m.toMGRS(i, j, MGRSPrecision=2)) 
    to_mgrs_10km.append(m.toMGRS(i, j, MGRSPrecision=1)) 
    to_mgrs_100km.append(m.toMGRS(i, j, MGRSPrecision=0)) 

ca_fires_data['mgrs_1m'] = to_mgrs_1m
ca_fires_data['mgrs_10m'] = to_mgrs_10m
ca_fires_data['mgrs_100m'] = to_mgrs_100m
ca_fires_data['mgrs_1km'] = to_mgrs_1km
ca_fires_data['mgrs_10km'] = to_mgrs_10km
ca_fires_data['mgrs_100km'] = to_mgrs_100km

for k in ca_fires_data['mgrs_10km'].tolist():
    to_mgrs_lat_10km.append(m.toLatLon(k)[0])
    to_mgrs_lon_10km.append(m.toLatLon(k)[1])

ca_fires_data['mgrs_lat_10km'] = to_mgrs_lat_10km
ca_fires_data['mgrs_lon_10km'] = to_mgrs_lon_10km

# filter out winter months where fires not likely
months_used = ['April', 'May', 'June', 'July', 'August', 'September', 'October','November'] 
ca_fires_data = ca_fires_data[ca_fires_data.fire_month.isin(months_used)]

# filter out class A fires, which are less than 1/4 acre
classes_used = ['B','C','D','E','F','G']
ca_fires_data = ca_fires_data[ca_fires_data.fire_class.isin(classes_used)]

# filter out fires before 2000 since weather data is sparse before year 2000
ca_fires_data = ca_fires_data[ca_fires_data.fire_year >= 2000]

# limit to only the MGRS locations in Southern CA
mgrs_100km = ['11SMT','11SNT','11SNS','11SMS','11SLT'] # redefine mgrs blocks
socal_fires_data = ca_fires_data[ca_fires_data.mgrs_100km.isin(mgrs_100km)]

# keep only necessary columns
socal_lite = pd.DataFrame()
socal_lite['mgrs_100km'] = socal_fires_data['mgrs_100km']
socal_lite['mgrs_10km'] = socal_fires_data['mgrs_10km']
socal_lite['lat'] = socal_fires_data['mgrs_lat_10km']
socal_lite['lon'] = socal_fires_data['mgrs_lon_10km']
socal_lite['date'] = socal_fires_data['fire_date_cal']
socal_lite = socal_lite.groupby(level=0).first()
# socal_lite.mgrs_10km.unique().shape
socal_lite.reset_index(drop=True, inplace = True)
socal_lite.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8057 entries, 0 to 8056
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   mgrs_100km  8057 non-null   object
 1   mgrs_10km   8057 non-null   object
 2   lat         8057 non-null   float64
 3   lon         8057 non-null   float64
 4   date        8057 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(2), object(2)
memory usage: 314.9+ KB

## Persist socal_lite

In [ ]:
# write socal_lite to file
socal_lite.to_csv('/content/gdrive/MyDrive/SMU/msds_6120_capstone_a/project/src/git_repos/socal_lite.csv')

# Weather History

## Read Weather History

In [ ]:
# read in historic data and convert lat/long mgrs
weather_history = pd.read_csv('/content/gdrive/MyDrive/SMU/msds_6120_capstone_a/project/data/2000to2015_Weather.csv')
weather_history

         Unnamed: 0        lat  ...  soil_type_idx                       date
0                 0  33.705267  ...            2.0  2000-01-01 00:00:00+00:00
1                 1  33.705267  ...            2.0  2000-01-02 00:00:00+00:00
2                 2  33.705267  ...            2.0  2000-01-03 00:00:00+00:00
3                 3  33.705267  ...            2.0  2000-01-04 00:00:00+00:00
4                 4  33.705267  ...            2.0  2000-01-05 00:00:00+00:00
...             ...        ...  ...            ...                        ...
2249935        9125  33.167642  ...            NaN  2015-12-27 00:00:00+00:00
2249936        9126  33.167642  ...            NaN  2015-12-28 00:00:00+00:00
2249937        9127  33.167642  ...            NaN  2015-12-29 00:00:00+00:00
2249938        9128  33.167642  ...            NaN  2015-12-30 00:00:00+00:00
2249939        9129  33.167642  ...            NaN  2015-12-31 00:00:00+00:00

[2249940 rows x 12 columns]

## Add MGRS for Weather History

In [ ]:
m = mgrs.MGRS() #mgrs API
hist_mgrs_1m = [] #precision 5
hist_mgrs_10m = [] #precision 4
hist_mgrs_100m = [] #precision 3
hist_mgrs_1km = []  #precision 2
hist_mgrs_10km = []  #precision 1
hist_mgrs_100km = []  #precision 0
hist_mgrs_lat_10km = []
hist_mgrs_lon_10km = []

for i, j in zip(weather_history['lat'].tolist(), weather_history['lon'].tolist()):
    hist_mgrs_1m.append(m.toMGRS(i, j, MGRSPrecision=5)) # use mgrs API to convert lat/lon to MGRS conventions
    hist_mgrs_10m.append(m.toMGRS(i, j, MGRSPrecision=4)) 
    hist_mgrs_100m.append(m.toMGRS(i, j, MGRSPrecision=3)) 
    hist_mgrs_1km.append(m.toMGRS(i, j, MGRSPrecision=2)) 
    hist_mgrs_10km.append(m.toMGRS(i, j, MGRSPrecision=1)) 
    hist_mgrs_100km.append(m.toMGRS(i, j, MGRSPrecision=0)) 

weather_history['mgrs_1m'] = hist_mgrs_1m
weather_history['mgrs_10m'] = hist_mgrs_10m
weather_history['mgrs_100m'] = hist_mgrs_100m
weather_history['mgrs_1km'] = hist_mgrs_1km
weather_history['mgrs_10km'] = hist_mgrs_10km
weather_history['mgrs_100km'] = hist_mgrs_100km

for k in weather_history['mgrs_10km'].tolist():
    hist_mgrs_lat_10km.append(m.toLatLon(k)[0])
    hist_mgrs_lon_10km.append(m.toLatLon(k)[1])

weather_history['mgrs_lat_10km'] = hist_mgrs_lat_10km
weather_history['mgrs_lon_10km'] = hist_mgrs_lon_10km

In [ ]:
weather_history

         Unnamed: 0        lat  ...  mgrs_lat_10km  mgrs_lon_10km
0                 0  33.705267  ...      33.614103    -118.185780
1                 1  33.705267  ...      33.614103    -118.185780
2                 2  33.705267  ...      33.614103    -118.185780
3                 3  33.705267  ...      33.614103    -118.185780
4                 4  33.705267  ...      33.614103    -118.185780
...             ...        ...  ...            ...            ...
2249935        9125  33.167642  ...      33.077444    -117.535706
2249936        9126  33.167642  ...      33.077444    -117.535706
2249937        9127  33.167642  ...      33.077444    -117.535706
2249938        9128  33.167642  ...      33.077444    -117.535706
2249939        9129  33.167642  ...      33.077444    -117.535706

[2249940 rows x 20 columns]

## Persist Weather History

In [ ]:
weather_history.to_csv('/content/gdrive/MyDrive/SMU/msds_6120_capstone_a/project/src/git_repos/weather_history_mgrs.csv')

# Calendar Data

Get Calendar Data

In [ ]:
cal_table = getCalTbl()
cal_table = cal_table[cal_table.month_name.isin(months_used)] # filter out winter months
cal_table['key'] = int(0) # dummy key for cross join later
cal_table.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3904 entries, 91 to 5812
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              3904 non-null   datetime64[ns]
 1   year              3904 non-null   int64
 2   day_of_year       3904 non-null   int64
 3   month             3904 non-null   int64
 4   month_name        3904 non-null   object
 5   day               3904 non-null   int64
 6   day_of_week       3904 non-null   int64
 7   day_of_week_name  3904 non-null   object
 8   key               3904 non-null   int64
dtypes: datetime64[ns](1), int64(6), object(2)
memory usage: 305.0+ KB

Get Weather Data and Impute Missing Values

In [ ]:
#usgs_weather = pd.read_csv('usgs_weather.csv')
usgs_weather = pd.read_csv('/content/gdrive/MyDrive/SMU/msds_6120_capstone_a/project/src/git_repos/usgs_weather.csv')
usgs_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38204 entries, 0 to 38203
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   STATION    38204 non-null  object
 1   NAME       38204 non-null  object
 2   LATITUDE   38204 non-null  float64
 3   LONGITUDE  38204 non-null  float64
 4   ELEVATION  38204 non-null  float64
 5   DATE       38204 non-null  object
 6   PRCP       37863 non-null  float64
 7   TMAX       36571 non-null  float64
 8   TMIN       36570 non-null  float64
 9   TOBS       24269 non-null  float64
dtypes: float64(7), object(3)
memory usage: 2.9+ MB

In [ ]:
prcp_temp = pd.DataFrame()
prcp_temp['station_name'] = usgs_weather['NAME']
prcp_temp['lat'] = usgs_weather['LATITUDE']
prcp_temp['lon'] = usgs_weather['LONGITUDE']
prcp_temp['date'] = pd.to_datetime(usgs_weather['DATE'])
prcp_temp['prcp'] = usgs_weather['PRCP']
prcp_temp['tmax'] = usgs_weather['TMAX']
prcp_temp['tmin'] = usgs_weather['TMIN']
prcp_temp = prcp_temp[prcp_temp.date.dt.month_name().isin(months_used)]
prcp_temp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25294 entries, 91 to 38203
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   station_name  25294 non-null  object
 1   lat           25294 non-null  float64
 2   lon           25294 non-null  float64
 3   date          25294 non-null  datetime64[ns]
 4   prcp          25082 non-null  float64
 5   tmax          24180 non-null  float64
 6   tmin          24195 non-null  float64
dtypes: datetime64[ns](1), float64(5), object(1)
memory usage: 1.5+ MB

In [ ]:
df_hemet = cal_table.merge(prcp_temp[prcp_temp.station_name == 'HEMET, CA US'], on='date', how = 'left')
df_cuymaca = cal_table.merge(prcp_temp[prcp_temp.station_name == 'CUYAMACA, CA US'], on='date', how = 'left')
df_la = cal_table.merge(prcp_temp[prcp_temp.station_name == 'LOS ANGELES DOWNTOWN USC, CA US'], on='date', how = 'left')
df_elsinore = cal_table.merge(prcp_temp[prcp_temp.station_name == 'ELSINORE, CA US'], on='date', how = 'left')
df_vista = cal_table.merge(prcp_temp[prcp_temp.station_name == 'VISTA, CA US'], on='date', how = 'left')
print(df_hemet.shape, df_cuymaca.shape, df_la.shape, df_elsinore.shape, df_vista.shape)

df_hemet['station_name'] = df_hemet['station_name'].fillna('HEMET, CA US')
df_cuymaca['station_name'] = df_cuymaca['station_name'].fillna('CUYAMACA, CA US')
df_la['station_name'] = df_la['station_name'].fillna('LOS ANGELES DOWNTOWN USC, CA US')
df_elsinore['station_name'] = df_elsinore['station_name'].fillna('ELSINORE, CA US')
df_vista['station_name'] = df_vista['station_name'].fillna('VISTA, CA US')

df_hemet['lat'] = df_hemet['lat'].fillna(33.7381)
df_cuymaca['lat'] = df_cuymaca['lat'].fillna(32.9897)
df_la['lat'] = df_la['lat'].fillna(33.686)
df_elsinore['lat'] = df_elsinore['lat'].fillna(34.0236)
df_vista['lat'] = df_vista['lat'].fillna(33.2354)

df_hemet['lon'] = df_hemet['lon'].fillna(-116.8939)
df_cuymaca['lon'] = df_cuymaca['lon'].fillna(-116.5872)
df_la['lon'] = df_la['lon'].fillna(-117.3458)
df_elsinore['lon'] = df_elsinore['lon'].fillna(-118.2911)
df_vista['lon'] = df_vista['lon'].fillna(-117.2322)

data = pd.concat([df_hemet, df_cuymaca, df_elsinore, df_la, df_vista])
data.reset_index(drop=True, inplace=True)
print(data.shape)

(3904, 15) (3904, 15) (3904, 15) (3904, 15) (3904, 15)
(19520, 15)

In [ ]:
missingByCol(data)

prcp 587
tmax 1354
tmin 1338

In [ ]:
weather_nulls = data[data.isna().any(axis=1)]
weather_nulls

            date  year  day_of_year  month  ...       lon  prcp  tmax  tmin
494   2002-04-07  2002           97      4  ... -116.8939   0.0  73.0   NaN
1433  2005-10-31  2005          304     10  ... -116.8939   0.0   NaN  48.0
1517  2006-05-24  2006          144      5  ... -116.8939   0.0  94.0   NaN
1524  2006-05-31  2006          151      5  ... -116.8939   0.0   NaN   NaN
2046  2008-07-04  2008          186      7  ... -116.8939   0.0   NaN   NaN
...          ...   ...          ...    ...  ...       ...   ...   ...   ...
18544 2012-04-01  2012           92      4  ... -117.2322   NaN   NaN   NaN
18545 2012-04-02  2012           93      4  ... -117.2322   NaN   NaN   NaN
18546 2012-04-03  2012           94      4  ... -117.2322   NaN   NaN   NaN
18568 2012-04-25  2012          116      4  ... -117.2322   NaN   NaN   NaN
18634 2012-06-30  2012          182      6  ... -117.2322   NaN   NaN   NaN

[1467 rows x 15 columns]

In [ ]:
data_missing = data.copy()
data_missing.drop(['date','year','day_of_year','month','month_name','day','day_of_week','day_of_week_name','key','station_name'], axis = 1, inplace = True)
imputer = KNNImputer(n_neighbors=2)
data_imputed = pd.DataFrame(imputer.fit_transform(data_missing), columns = data_missing.columns) # impute missing data here before the merge
missingByCol(data_imputed) # check for missing values

In [ ]:
data_imputed.loc[494]

lat      33.7381
lon    -116.8939
prcp      0.0000
tmax     73.0000
tmin     44.5000
Name: 494, dtype: float64

In [ ]:
print(len(data_imputed))

data.drop(['lat','lon','prcp','tmax','tmin'], axis = 1, inplace = True)
data['lat'] = data_imputed['lat']
data['lon'] = data_imputed['lon']
data['prcp'] = data_imputed['prcp']
data['tmax'] = data_imputed['tmax']
data['tmin'] = data_imputed['tmin']
missingByCol(data) # check for missing values

19520

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19520 entries, 0 to 19519
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              19520 non-null  datetime64[ns]
 1   year              19520 non-null  int64
 2   day_of_year       19520 non-null  int64
 3   month             19520 non-null  int64
 4   month_name        19520 non-null  object
 5   day               19520 non-null  int64
 6   day_of_week       19520 non-null  int64
 7   day_of_week_name  19520 non-null  object
 8   key               19520 non-null  int64
 9   station_name      19520 non-null  object
 10  lat               19520 non-null  float64
 11  lon               19520 non-null  float64
 12  prcp              19520 non-null  float64
 13  tmax              19520 non-null  float64
 14  tmin              19520 non-null  float64
dtypes: datetime64[ns](1), float64(5), int64(6), object(3)
memory usage: 2.2+ MB

In [ ]:
data

            date  year  day_of_year  month  ...       lon  prcp  tmax  tmin
0     2000-04-01  2000           92      4  ... -116.8939  0.00  80.0  44.0
1     2000-04-02  2000           93      4  ... -116.8939  0.00  82.0  44.0
2     2000-04-03  2000           94      4  ... -116.8939  0.00  87.0  43.0
3     2000-04-04  2000           95      4  ... -116.8939  0.00  91.0  41.0
4     2000-04-05  2000           96      4  ... -116.8939  0.00  86.0  45.0
...          ...   ...          ...    ...  ...       ...   ...   ...   ...
19515 2015-11-26  2015          330     11  ... -117.2322  0.00  62.0  45.0
19516 2015-11-27  2015          331     11  ... -117.2322  0.51  61.0  46.0
19517 2015-11-28  2015          332     11  ... -117.2322  0.00  65.0  40.0
19518 2015-11-29  2015          333     11  ... -117.2322  0.00  67.0  44.0
19519 2015-11-30  2015          334     11  ... -117.2322  0.00  68.0  41.0

[19520 rows x 15 columns]

In [ ]:
# rolling averages for prcp, tmax, tmin for 3, 7, and 10 days

#prcp
data['prcp_rolling_3day'] = data.groupby('station_name')['prcp'].transform(lambda x: x.rolling(3).mean())
data['prcp_rolling_3day'] = round(data['prcp_rolling_3day'],6)

data['prcp_rolling_7day'] = data.groupby('station_name')['prcp'].transform(lambda x: x.rolling(7).mean())
data['prcp_rolling_7day'] = round(data['prcp_rolling_7day'],6)

data['prcp_rolling_14day'] = data.groupby('station_name')['prcp'].transform(lambda x: x.rolling(14).mean())
data['prcp_rolling_14day'] = round(data['prcp_rolling_14day'],6)

#tmax
data['tmax_rolling_3day'] = data.groupby('station_name')['tmax'].transform(lambda x: x.rolling(3).mean())
data['tmax_rolling_3day'] = round(data['tmax_rolling_3day'],6)

data['tmax_rolling_7day'] = data.groupby('station_name')['tmax'].transform(lambda x: x.rolling(7).mean())
data['tmax_rolling_7day'] = round(data['tmax_rolling_7day'],6)

data['tmax_rolling_14day'] = data.groupby('station_name')['tmax'].transform(lambda x: x.rolling(14).mean())
data['tmax_rolling_14day'] = round(data['tmax_rolling_14day'],6)

#tmin
data['tmin_rolling_3day'] = data.groupby('station_name')['tmin'].transform(lambda x: x.rolling(3).mean())
data['tmin_rolling_3day'] = round(data['tmin_rolling_3day'],6)

data['tmin_rolling_7day'] = data.groupby('station_name')['tmin'].transform(lambda x: x.rolling(7).mean())
data['tmin_rolling_7day'] = round(data['tmin_rolling_7day'],6)

data['tmin_rolling_14day'] = data.groupby('station_name')['tmin'].transform(lambda x: x.rolling(14).mean())
data['tmin_rolling_14day'] = round(data['tmin_rolling_14day'],6)

In [ ]:
missingByCol(data)

prcp_rolling_3day 10
prcp_rolling_7day 30
prcp_rolling_14day 65
tmax_rolling_3day 10
tmax_rolling_7day 30
tmax_rolling_14day 65
tmin_rolling_3day 10
tmin_rolling_7day 30
tmin_rolling_14day 65

In [ ]:
data_missing2 = data.copy()
data_missing2.drop(['date','year','day_of_year','month','month_name','day','day_of_week','day_of_week_name','key','station_name'], axis = 1, inplace = True)
imputer2 = KNNImputer(n_neighbors=2)
data_imputed2 = pd.DataFrame(imputer2.fit_transform(data_missing2), columns = data_missing2.columns) # impute missing data here before the merge
missingByCol(data_imputed2) # check for missing values

In [ ]:
data_imputed2

           lat       lon  ...  tmin_rolling_7day  tmin_rolling_14day
0      33.7381 -116.8939  ...          43.500000           45.142858
1      33.7381 -116.8939  ...          43.000000           44.607143
2      33.7381 -116.8939  ...          44.071428           43.464286
3      33.7381 -116.8939  ...          43.857143           44.928572
4      33.7381 -116.8939  ...          42.500000           42.107142
...        ...       ...  ...                ...                 ...
19515  33.2354 -117.2322  ...          50.714286           48.428571
19516  33.2354 -117.2322  ...          50.142857           48.285714
19517  33.2354 -117.2322  ...          48.000000           47.857143
19518  33.2354 -117.2322  ...          46.000000           47.500000
19519  33.2354 -117.2322  ...          44.714286           46.857143

[19520 rows x 14 columns]

In [ ]:
print(len(data_imputed2))

data.drop(['prcp_rolling_3day','prcp_rolling_7day','prcp_rolling_14day','tmax_rolling_3day','tmax_rolling_7day','tmax_rolling_14day','tmin_rolling_3day','tmin_rolling_7day','tmin_rolling_14day'], axis = 1, inplace = True)
data['prcp_rolling_3day'] = data_imputed2['prcp_rolling_3day']
data['prcp_rolling_7day'] = data_imputed2['prcp_rolling_7day']
data['prcp_rolling_14day'] = data_imputed2['prcp_rolling_14day']
data['tmax_rolling_3day'] = data_imputed2['tmax_rolling_3day']
data['tmax_rolling_7day'] = data_imputed2['tmax_rolling_7day']
data['tmax_rolling_14day'] = data_imputed2['tmax_rolling_14day']
data['tmin_rolling_3day'] = data_imputed2['tmin_rolling_3day']
data['tmin_rolling_7day'] = data_imputed2['tmin_rolling_7day']
data['tmin_rolling_14day'] = data_imputed2['tmin_rolling_14day']
missingByCol(data) # check for missing values

19520

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

In [ ]:
to_mgrs_10km, to_mgrs_100km = [],[] # get MGRS for each weather feed (5, 1 for each 100 km block)
w_lat = data['lat'].tolist()
w_lon = data['lon'].tolist()
for i, j in zip(w_lat, w_lon):
    to_mgrs_10km.append(m.toMGRS(i, j, MGRSPrecision=1)) 
    to_mgrs_100km.append(m.toMGRS(i, j, MGRSPrecision=0)) 
data['mgrs_100km'] = to_mgrs_100km # 
data['mgrs_10km'] = to_mgrs_10km

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19520 entries, 0 to 19519
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date                19520 non-null  datetime64[ns]
 1   day_of_year         19520 non-null  int64
 2   month_name          19520 non-null  object
 3   day                 19520 non-null  int64
 4   day_of_week         19520 non-null  int64
 5   day_of_week_name    19520 non-null  object
 6   station_name        19520 non-null  object
 7   mgrs_100km          19520 non-null  object
 8   lat                 19520 non-null  float64
 9   lon                 19520 non-null  float64
 10  prcp                19520 non-null  float64
 11  prcp_rolling_3day   19520 non-null  float64
 12  prcp_rolling_7day   19520 non-null  float64
 13  prcp_rolling_14day  19520 non-null  float64
 14  tmin                19520 non-null  float64
 15  tmin_rolling_3day   19520 non-null  float64
 16  tmin_rolling_7day   19520 non-null  float64
 17  tmin_rolling_14day  19520 non-null  float64
 18  tmax                19520 non-null  float64
 19  tmax_rolling_3day   19520 non-null  float64
 20  tmax_rolling_7day   19520 non-null  float64
 21  tmax_rolling_14day  19520 non-null  float64
 22  mgrs_10km           19520 non-null  object
dtypes: datetime64[ns](1), float64(14), int64(3), object(5)
memory usage: 3.4+ MB

In [ ]:
data.head()

        date  day_of_year  ... tmax_rolling_14day  mgrs_10km
0 2000-04-01           92  ...          78.178572    11SNT03
1 2000-04-02           93  ...          72.428571    11SNT03
2 2000-04-03           94  ...          74.821428    11SNT03
3 2000-04-04           95  ...          82.071429    11SNT03
4 2000-04-05           96  ...          79.571428    11SNT03

[5 rows x 23 columns]

In [ ]:
#data = data[['date', 'day_of_year' ,'month_name' ,'day' ,'day_of_week' ,'day_of_week_name' ,'station_name', 'mgrs_100km' ,'lat' ,'lon' ,'prcp' ,'prcp_rolling_3day' ,'prcp_rolling_7day' ,'prcp_rolling_14day' ,'tmin' ,'tmin_rolling_3day','tmin_rolling_7day','tmin_rolling_14day','tmax','tmax_rolling_3day','tmax_rolling_7day','tmax_rolling_14day']]

# jrw
data = data[['date', 'day_of_year' ,'month_name' ,'day' ,'day_of_week' ,'day_of_week_name' ,'station_name', 'mgrs_100km', 'mgrs_10km', 'lat' ,'lon' ,'prcp' ,'prcp_rolling_3day' ,'prcp_rolling_7day' ,'prcp_rolling_14day' ,'tmin' ,'tmin_rolling_3day','tmin_rolling_7day','tmin_rolling_14day','tmax','tmax_rolling_3day','tmax_rolling_7day','tmax_rolling_14day']]

# write out data to csv before dropping columns
data.to_csv('/content/gdrive/MyDrive/SMU/msds_6120_capstone_a/project/src/git_repos/weather_data_socal_mgrs.csv')

# Resume Here

In [5]:
# read data from csv to pick up where left off

# data df
data = pd.read_csv('/content/gdrive/MyDrive/SMU/msds_6120_capstone_a/project/src/git_repos/weather_data_socal_mgrs.csv')

# socal_lite
socal_lite = pd.read_csv('/content/gdrive/MyDrive/SMU/msds_6120_capstone_a/project/src/git_repos/socal_lite.csv')

# weather_history_mgrs
weather_history_mgrs = pd.read_csv('/content/gdrive/MyDrive/SMU/msds_6120_capstone_a/project/src/git_repos/weather_history_mgrs.csv')

In [ ]:
data

       Unnamed: 0        date  ...  tmax_rolling_7day tmax_rolling_14day
0               0  2000-04-01  ...          75.500000          78.178571
1               1  2000-04-02  ...          76.285714          72.428571
2               2  2000-04-03  ...          78.214286          74.821429
3               3  2000-04-04  ...          79.785714          82.071429
4               4  2000-04-05  ...          85.214286          79.571429
...           ...         ...  ...                ...                ...
19515       19515  2015-11-26  ...          75.285714          74.357143
19516       19516  2015-11-27  ...          72.571429          73.214286
19517       19517  2015-11-28  ...          69.285714          72.428571
19518       19518  2015-11-29  ...          66.571429          72.285714
19519       19519  2015-11-30  ...          64.857143          72.642857

[19520 rows x 24 columns]

In [ ]:
# data.to_csv('weather_data.csv')
socal_lite

      Unnamed: 0 mgrs_100km mgrs_10km        lat         lon        date
0              0      11SMT   11SMT27  34.067686 -117.866966  2005-07-03
1              1      11SMT   11SMT53  33.708802 -117.539594  2005-06-19
2              2      11SNS   11SNS16  33.078549 -116.892857  2005-07-31
3              3      11SNS   11SNS23  32.807799 -116.786366  2005-07-04
4              4      11SNS   11SNS08  33.258997 -117.000000  2005-07-05
...          ...        ...       ...        ...         ...         ...
8052        8052      11SNS   11SNS12  32.717728 -116.893290  2015-04-09
8053        8053      11SMT   11SMT95  33.890318 -117.108147  2009-05-03
8054        8054      11SNS   11SNS04  32.898187 -117.000000  2010-05-29
8055        8055      11SNS   11SNS04  32.898187 -117.000000  2014-05-29
8056        8056      11SNT   11SNT38  34.160500 -116.674529  2015-07-25

[8057 rows x 6 columns]

In [ ]:
data2 = data.merge(socal_lite, on = ('date', 'mgrs_100km'), how = 'left')

In [ ]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22320 entries, 0 to 22319
Data columns (total 28 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0_x        22320 non-null  int64
 1   date                22320 non-null  object
 2   day_of_year         22320 non-null  int64
 3   month_name          22320 non-null  object
 4   day                 22320 non-null  int64
 5   day_of_week         22320 non-null  int64
 6   day_of_week_name    22320 non-null  object
 7   station_name        22320 non-null  object
 8   mgrs_100km          22320 non-null  object
 9   mgrs_10km_x         22320 non-null  object
 10  lat_x               22320 non-null  float64
 11  lon_x               22320 non-null  float64
 12  prcp                22320 non-null  float64
 13  prcp_rolling_3day   22320 non-null  float64
 14  prcp_rolling_7day   22320 non-null  float64
 15  prcp_rolling_14day  22320 non-null  float64
 16  tmin                22320 non-null  float64
 17  tmin_rolling_3day   22320 non-null  float64
 18  tmin_rolling_7day   22320 non-null  float64
 19  tmin_rolling_14day  22320 non-null  float64
 20  tmax                22320 non-null  float64
 21  tmax_rolling_3day   22320 non-null  float64
 22  tmax_rolling_7day   22320 non-null  float64
 23  tmax_rolling_14day  22320 non-null  float64
 24  Unnamed: 0_y        7782 non-null   float64
 25  mgrs_10km_y         7782 non-null   object
 26  lat_y               7782 non-null   float64
 27  lon_y               7782 non-null   float64
dtypes: float64(17), int64(4), object(7)
memory usage: 4.9+ MB

In [ ]:
data2

       Unnamed: 0_x        date  day_of_year  ... mgrs_10km_y      lat_y      lon_y
0                 0  2000-04-01           92  ...     11SNT72  33.617485 -116.24537
1                 1  2000-04-02           93  ...         NaN        NaN        NaN
2                 2  2000-04-03           94  ...         NaN        NaN        NaN
3                 3  2000-04-04           95  ...         NaN        NaN        NaN
4                 4  2000-04-05           96  ...         NaN        NaN        NaN
...             ...         ...          ...  ...         ...        ...        ...
22315         19515  2015-11-26          330  ...         NaN        NaN        NaN
22316         19516  2015-11-27          331  ...         NaN        NaN        NaN
22317         19517  2015-11-28          332  ...         NaN        NaN        NaN
22318         19518  2015-11-29          333  ...         NaN        NaN        NaN
22319         19519  2015-11-30          334  ...         NaN        NaN        NaN

[22320 rows x 28 columns]

In [ ]:
#data2.drop(['date', 'station_name', 'mgrs_100km', 'lat_x', 'lon_x', 'lat_y', 'lon_y'], axis = 1, inplace = True)

# rename the columns to persist the fire locations
data2.rename(columns = {'mgrs_10km_y': 'mgrs_10km_fire', 'lat_y': 'lat_fire', 'lon_y':'lon_fire', 'Unnamed: 0_y':'index_fire'}, inplace = True)

data2.drop(['Unnamed: 0_x', 'station_name', 'mgrs_100km', 'lat_x', 'lon_x'], axis = 1, inplace = True)

In [ ]:
data2

             date  day_of_year month_name  ...  mgrs_10km_fire   lat_fire   lon_fire
0      2000-04-01           92      April  ...         11SNT72  33.617485 -116.24537
1      2000-04-02           93      April  ...             NaN        NaN        NaN
2      2000-04-03           94      April  ...             NaN        NaN        NaN
3      2000-04-04           95      April  ...             NaN        NaN        NaN
4      2000-04-05           96      April  ...             NaN        NaN        NaN
...           ...          ...        ...  ...             ...        ...        ...
22315  2015-11-26          330   November  ...             NaN        NaN        NaN
22316  2015-11-27          331   November  ...             NaN        NaN        NaN
22317  2015-11-28          332   November  ...             NaN        NaN        NaN
22318  2015-11-29          333   November  ...             NaN        NaN        NaN
22319  2015-11-30          334   November  ...             NaN        NaN        NaN

[22320 rows x 23 columns]

In [ ]:
~data2['mgrs_10km_fire'].isna()

0         True
1        False
2        False
3        False
4        False
         ...
22315    False
22316    False
22317    False
22318    False
22319    False
Name: mgrs_10km_fire, Length: 22320, dtype: bool

In [ ]:
data2['is_fire_bool'] = ~data2['mgrs_10km_fire'].isna() # set NAs to 0
is_fire = []
for i in data2['is_fire_bool']:
    if i == False:
        is_fire.append(int(0))
    else:
        is_fire.append(int(1))

data2['is_fire'] = is_fire
#data2.drop(['mgrs_10km','is_fire_bool'], axis = 1, inplace = True) # drop more columns

In [ ]:
data2.info

<bound method DataFrame.info of              date  day_of_year month_name  ...   lon_fire  is_fire_bool is_fire
0      2000-04-01           92      April  ... -116.24537          True       1
1      2000-04-02           93      April  ...        NaN         False       0
2      2000-04-03           94      April  ...        NaN         False       0
3      2000-04-04           95      April  ...        NaN         False       0
4      2000-04-05           96      April  ...        NaN         False       0
...           ...          ...        ...  ...        ...           ...     ...
22315  2015-11-26          330   November  ...        NaN         False       0
22316  2015-11-27          331   November  ...        NaN         False       0
22317  2015-11-28          332   November  ...        NaN         False       0
22318  2015-11-29          333   November  ...        NaN         False       0
22319  2015-11-30          334   November  ...        NaN         False       0

[22320 rows x 25 columns]>

In [ ]:
data2[data2['is_fire'] == 1] #why missing fires?

             date  day_of_year month_name  ...    lon_fire  is_fire_bool is_fire
0      2000-04-01           92      April  ... -116.245370          True       1
24     2000-04-25          116      April  ... -116.138473          True       1
27     2000-04-28          119      April  ... -116.138473          True       1
28     2000-04-29          120      April  ... -116.138473          True       1
34     2000-05-05          126        May  ... -116.675560          True       1
...           ...          ...        ...  ...         ...           ...     ...
22209  2015-08-13          225     August  ... -117.537358          True       1
22219  2015-08-23          235     August  ... -117.214505          True       1
22223  2015-08-27          239     August  ... -117.321757          True       1
22260  2015-10-03          276    October  ... -117.214505          True       1
22261  2015-10-03          276    October  ... -117.322087          True       1

[7782 rows x 25 columns]

In [ ]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22320 entries, 0 to 22319
Data columns (total 28 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0_x        22320 non-null  int64
 1   date                22320 non-null  object
 2   day_of_year         22320 non-null  int64
 3   month_name          22320 non-null  object
 4   day                 22320 non-null  int64
 5   day_of_week         22320 non-null  int64
 6   day_of_week_name    22320 non-null  object
 7   station_name        22320 non-null  object
 8   mgrs_100km          22320 non-null  object
 9   mgrs_10km_x         22320 non-null  object
 10  lat_x               22320 non-null  float64
 11  lon_x               22320 non-null  float64
 12  prcp                22320 non-null  float64
 13  prcp_rolling_3day   22320 non-null  float64
 14  prcp_rolling_7day   22320 non-null  float64
 15  prcp_rolling_14day  22320 non-null  float64
 16  tmin                22320 non-null  float64
 17  tmin_rolling_3day   22320 non-null  float64
 18  tmin_rolling_7day   22320 non-null  float64
 19  tmin_rolling_14day  22320 non-null  float64
 20  tmax                22320 non-null  float64
 21  tmax_rolling_3day   22320 non-null  float64
 22  tmax_rolling_7day   22320 non-null  float64
 23  tmax_rolling_14day  22320 non-null  float64
 24  Unnamed: 0_y        7782 non-null   float64
 25  mgrs_10km_y         7782 non-null   object
 26  lat_y               7782 non-null   float64
 27  lon_y               7782 non-null   float64
dtypes: float64(17), int64(4), object(7)
memory usage: 4.9+ MB

Build Model

In [ ]:
X = data2.copy()
# X

month_dummy = pd.get_dummies(X['month_name'])
wkname_dummy = pd.get_dummies(X['day_of_week_name'])
# mgrs_dummy = pd.get_dummies(X['mgrs_10km'])

X = pd.concat((X, month_dummy), axis = 1)
X = pd.concat((X, wkname_dummy), axis = 1)
# X = pd.concat((X, mgrs_dummy), axis = 1)

y = X['is_fire']

# X.drop(['month_name','day_of_week_name','mgrs_10km','is_fire'], axis = 1, inplace = True) # drop more columns
X.drop(['month_name','day_of_week_name','is_fire'], axis = 1, inplace = True) # drop more columns
print(X.shape, y.shape)

(22320, 30) (22320,)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 8)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(17856, 30) (4464, 30) (17856,) (4464,)

In [ ]:
clfsList = [LogisticRegression, RandomForestClassifier, GradientBoostingClassifier]

clf_hyper = { 
         'LogisticRegression':{
            'tol': [0.01, 0.1, 1.0]
           ,'C': [0.01, 0.1, 1.0]
           , 'solver': ['sag','saga']
           , 'class_weight': [None,'balanced']
        }
        ,
         'RandomForestClassifier':{
            'n_estimators': [50,100,150]
           ,'min_samples_leaf': [1,5,15]
           ,'class_weight': [None, 'balanced']
           ,'bootstrap': [True]
        }        
        ,
        'GradientBoostingClassifier':{
            'learning_rate': [0.001,0.01,0.1]
           ,'n_estimators': [10,50,100]
           ,'min_samples_leaf': [5,3,1]
        }
}

In [ ]:
clf = RandomForestClassifier()
clf.fit(X_train, y_train)

RandomForestClassifier()

In [ ]:
clfGridSearch(np.array(X_train), np.array(y_train), 5)

Classifier with Parameters: RandomForestClassifier(n_estimators=150)
MeanAccuracy 0.8138445885622736

Classifier with Parameters: RandomForestClassifier(class_weight='balanced')
MeanAccuracy 0.813732245853825

Classifier with Parameters: RandomForestClassifier(class_weight='balanced', n_estimators=150)
MeanAccuracy 0.8135086109549271

Classifier with Parameters: RandomForestClassifier()
MeanAccuracy 0.8116602950920739

Classifier with Parameters: RandomForestClassifier(class_weight='balanced', n_estimators=50)
MeanAccuracy 0.8106523779494077

Classifier with Parameters: RandomForestClassifier(n_estimators=50)
MeanAccuracy 0.8090840329730945

Classifier with Parameters: RandomForestClassifier(min_samples_leaf=5)
MeanAccuracy 0.7950829799463953

Classifier with Parameters: RandomForestClassifier(min_samples_leaf=5, n_estimators=150)
MeanAccuracy 0.7949710919397673

Classifier with Parameters: RandomForestClassifier(min_samples_leaf=5, n_estimators=50)
MeanAccuracy 0.7920589776484265

Classifier with Parameters: RandomForestClassifier(class_weight='balanced', min_samples_leaf=5)
MeanAccuracy 0.7879702518389553

Classifier with Parameters: RandomForestClassifier(class_weight='balanced', min_samples_leaf=5,
       n_estimators=150)
MeanAccuracy 0.7869621779025577

Classifier with Parameters: RandomForestClassifier(class_weight='balanced', min_samples_leaf=5,
       n_estimators=50)
MeanAccuracy 0.7854500591582748

Classifier with Parameters: RandomForestClassifier(min_samples_leaf=15)
MeanAccuracy 0.7790661239931098

Classifier with Parameters: RandomForestClassifier(min_samples_leaf=15, n_estimators=150)
MeanAccuracy 0.7786740769474644

Classifier with Parameters: RandomForestClassifier(min_samples_leaf=15, n_estimators=50)
MeanAccuracy 0.7766579447540424

Classifier with Parameters: GradientBoostingClassifier(min_samples_leaf=5)
MeanAccuracy 0.7682574854111273

Classifier with Parameters: GradientBoostingClassifier(min_samples_leaf=3)
MeanAccuracy 0.7676413958028827

Classifier with Parameters: GradientBoostingClassifier()
MeanAccuracy 0.767193247960192

Classifier with Parameters: RandomForestClassifier(class_weight='balanced', min_samples_leaf=15)
MeanAccuracy 0.7643367640847025

Classifier with Parameters: RandomForestClassifier(class_weight='balanced', min_samples_leaf=15,
       n_estimators=150)
MeanAccuracy 0.763944717039057

Classifier with Parameters: GradientBoostingClassifier(min_samples_leaf=3, n_estimators=50)
MeanAccuracy 0.7632731694880653

Classifier with Parameters: GradientBoostingClassifier(n_estimators=50)
MeanAccuracy 0.7632172568434976

Classifier with Parameters: GradientBoostingClassifier(min_samples_leaf=5, n_estimators=50)
MeanAccuracy 0.7626570798798208

Classifier with Parameters: RandomForestClassifier(class_weight='balanced', min_samples_leaf=15,
       n_estimators=50)
MeanAccuracy 0.7624887304505656

Classifier with Parameters: GradientBoostingClassifier(min_samples_leaf=5, n_estimators=10)
MeanAccuracy 0.734823511408155

Classifier with Parameters: GradientBoostingClassifier(min_samples_leaf=3, n_estimators=10)
MeanAccuracy 0.734823511408155

Classifier with Parameters: GradientBoostingClassifier(n_estimators=10)
MeanAccuracy 0.734823511408155

Classifier with Parameters: GradientBoostingClassifier(learning_rate=0.01, min_samples_leaf=5)
MeanAccuracy 0.73353527843274

Classifier with Parameters: GradientBoostingClassifier(learning_rate=0.01, min_samples_leaf=3)
MeanAccuracy 0.73353527843274

Classifier with Parameters: GradientBoostingClassifier(learning_rate=0.01)
MeanAccuracy 0.73353527843274

Classifier with Parameters: LogisticRegression(C=0.1, solver='sag', tol=0.01)
MeanAccuracy 0.7283827855535273

Classifier with Parameters: LogisticRegression(solver='sag', tol=0.01)
MeanAccuracy 0.7281587900290476

Classifier with Parameters: LogisticRegression(C=0.01, solver='sag', tol=0.01)
MeanAccuracy 0.7251906062994077

Classifier with Parameters: LogisticRegression(solver='saga', tol=0.01)
MeanAccuracy 0.7162299856721889

Classifier with Parameters: LogisticRegression(C=0.1, solver='saga', tol=0.01)
MeanAccuracy 0.7158939453473498

Classifier with Parameters: LogisticRegression(C=0.01, solver='saga', tol=0.01)
MeanAccuracy 0.7140457392401086

Classifier with Parameters: LogisticRegression(class_weight='balanced', solver='sag', tol=0.01)
MeanAccuracy 0.714045660843243

Classifier with Parameters: LogisticRegression(C=0.1, class_weight='balanced', solver='sag', tol=0.01)
MeanAccuracy 0.7136536608357169

Classifier with Parameters: LogisticRegression(C=0.01, class_weight='balanced', solver='sag', tol=0.01)
MeanAccuracy 0.7104612934291197

Classifier with Parameters: LogisticRegression(class_weight='balanced', solver='saga', tol=0.01)
MeanAccuracy 0.7043569058074203

Classifier with Parameters: LogisticRegression(C=0.1, class_weight='balanced', solver='saga', tol=0.01)
MeanAccuracy 0.7043009461247332

Classifier with Parameters: LogisticRegression(C=0.01, class_weight='balanced', solver='saga', tol=0.01)
MeanAccuracy 0.7030128856224225

Classifier with Parameters: LogisticRegression(C=0.1, class_weight='balanced', solver='sag', tol=0.1)
MeanAccuracy 0.695004363569541

Classifier with Parameters: LogisticRegression(solver='sag', tol=0.1)
MeanAccuracy 0.6944998954185813

Classifier with Parameters: LogisticRegression(C=0.01, solver='sag', tol=0.1)
MeanAccuracy 0.6944444688345804

Classifier with Parameters: LogisticRegression(C=0.01, class_weight='balanced', solver='sag', tol=0.1)
MeanAccuracy 0.6942766054658922

Classifier with Parameters: LogisticRegression(C=0.1, solver='sag', tol=0.1)
MeanAccuracy 0.6938285046613208

Classifier with Parameters: LogisticRegression(C=0.01, class_weight='balanced', solver='saga', tol=0.1)
MeanAccuracy 0.6886762626520782

Classifier with Parameters: LogisticRegression(class_weight='balanced', solver='saga', tol=0.1)
MeanAccuracy 0.6886758549883769

Classifier with Parameters: LogisticRegression(C=0.01, solver='saga', tol=0.1)
MeanAccuracy 0.6877238348109052

Classifier with Parameters: LogisticRegression(C=0.1, solver='saga', tol=0.1)
MeanAccuracy 0.6873318661621254

Classifier with Parameters: LogisticRegression(solver='saga', tol=0.1)
MeanAccuracy 0.6872758280825726

Classifier with Parameters: LogisticRegression(C=0.01, class_weight='balanced', solver='saga', tol=1.0)
MeanAccuracy 0.6860995615106512

Classifier with Parameters: LogisticRegression(class_weight='balanced', solver='sag', tol=0.1)
MeanAccuracy 0.683411082118208

Classifier with Parameters: LogisticRegression(C=0.1, class_weight='balanced', solver='saga', tol=0.1)
MeanAccuracy 0.6824615863198097

Classifier with Parameters: GradientBoostingClassifier(learning_rate=0.01, min_samples_leaf=5,
   n_estimators=50)
MeanAccuracy 0.678259671115741

Classifier with Parameters: GradientBoostingClassifier(learning_rate=0.01, min_samples_leaf=3,
   n_estimators=50)
MeanAccuracy 0.678259671115741

Classifier with Parameters: GradientBoostingClassifier(learning_rate=0.01, n_estimators=50)
MeanAccuracy 0.678259671115741

Classifier with Parameters: LogisticRegression(C=0.01, solver='saga', tol=1.0)
MeanAccuracy 0.6777550775297964

Classifier with Parameters: LogisticRegression(C=0.1, solver='sag', tol=1.0)
MeanAccuracy 0.674562082948274

Classifier with Parameters: LogisticRegression(solver='saga', tol=1.0)
MeanAccuracy 0.6732749318496047

Classifier with Parameters: LogisticRegression(C=0.1, solver='saga', tol=1.0)
MeanAccuracy 0.6690771560000414

Classifier with Parameters: LogisticRegression(C=0.01, class_weight='balanced', solver='sag', tol=1.0)
MeanAccuracy 0.6681773951731991

Classifier with Parameters: LogisticRegression(C=0.01, solver='sag', tol=1.0)
MeanAccuracy 0.6647062328330463

Classifier with Parameters: LogisticRegression(solver='sag', tol=1.0)
MeanAccuracy 0.6645948308869852

Classifier with Parameters: GradientBoostingClassifier(learning_rate=0.001, min_samples_leaf=5,
   n_estimators=10)
MeanAccuracy 0.6538418697589735

Classifier with Parameters: GradientBoostingClassifier(learning_rate=0.001, min_samples_leaf=3,
   n_estimators=10)
MeanAccuracy 0.6538418697589735

Classifier with Parameters: GradientBoostingClassifier(learning_rate=0.001, n_estimators=10)
MeanAccuracy 0.6538418697589735

Classifier with Parameters: GradientBoostingClassifier(learning_rate=0.001, min_samples_leaf=5,
   n_estimators=50)
MeanAccuracy 0.6538418697589735

Classifier with Parameters: GradientBoostingClassifier(learning_rate=0.001, min_samples_leaf=3,
   n_estimators=50)
MeanAccuracy 0.6538418697589735

Classifier with Parameters: GradientBoostingClassifier(learning_rate=0.001, n_estimators=50)
MeanAccuracy 0.6538418697589735

Classifier with Parameters: GradientBoostingClassifier(learning_rate=0.001, min_samples_leaf=5)
MeanAccuracy 0.6538418697589735

Classifier with Parameters: GradientBoostingClassifier(learning_rate=0.001, min_samples_leaf=3)
MeanAccuracy 0.6538418697589735

Classifier with Parameters: GradientBoostingClassifier(learning_rate=0.001)
MeanAccuracy 0.6538418697589735

Classifier with Parameters: GradientBoostingClassifier(learning_rate=0.01, min_samples_leaf=5,
   n_estimators=10)
MeanAccuracy 0.6538418697589735

Classifier with Parameters: GradientBoostingClassifier(learning_rate=0.01, min_samples_leaf=3,
   n_estimators=10)
MeanAccuracy 0.6538418697589735

Classifier with Parameters: GradientBoostingClassifier(learning_rate=0.01, n_estimators=10)
MeanAccuracy 0.6538418697589735

Classifier with Parameters: LogisticRegression(class_weight='balanced', solver='saga', tol=1.0)
MeanAccuracy 0.6510445755170352

Classifier with Parameters: LogisticRegression(C=0.1, class_weight='balanced', solver='sag', tol=1.0)
MeanAccuracy 0.6462800530464552

Classifier with Parameters: LogisticRegression(C=0.1, class_weight='balanced', solver='saga', tol=1.0)
MeanAccuracy 0.6209102001534698

Classifier with Parameters: LogisticRegression(class_weight='balanced', solver='sag', tol=1.0)
MeanAccuracy 0.6052882448917386

In [ ]:
clf_1 = RandomForestClassifier(n_estimators=150)
clfResults(clf_1, X_train,y_train,X_test,y_test)

-----------------------Confusion Matrix------------------------
  Predicted|--------------------Actual------------------------
           |        Yes            |         No                |   Total
--------------------------------------------------------------
        Yes|        1103            |        288               |    1391
--------------------------------------------------------------
         No|        498             |        2575              |    3073
--------------------------------------------------------------
      Total|        1601            |        2863              |    4464

Accuracy:  0.823925
Precision:  0.792955
Recall:  0.688944

In [ ]:
clfResults(clf, X_train, y_train, X_test, y_test)

-----------------------Confusion Matrix------------------------
  Predicted|--------------------Actual------------------------
           |        Yes            |         No                |   Total
--------------------------------------------------------------
        Yes|        1095            |        297               |    1392
--------------------------------------------------------------
         No|        506             |        2566              |    3072
--------------------------------------------------------------
      Total|        1601            |        2863              |    4464

Accuracy:  0.820116
Precision:  0.786638
Recall:  0.683948

In [ ]:
importance1 = [clf_1.feature_importances_]

clf_1_importance = pd.DataFrame(importance1, columns = X_train.columns).T

clf_1_importance.columns = ['coeff']

clf_1_importance.sort_values(by = 'coeff', ascending = False)

                       coeff
tmax_rolling_7day   0.112450
tmax_rolling_3day   0.107566
tmax_rolling_14day  0.103076
tmax                0.086948
tmin_rolling_14day  0.082719
day_of_year         0.080326
tmin_rolling_7day   0.074204
tmin_rolling_3day   0.067523
tmin                0.058982
day                 0.054362
prcp_rolling_14day  0.029036
day_of_week         0.027101
prcp_rolling_7day   0.016477
prcp_rolling_3day   0.008443
Thursday            0.007375
Wednesday           0.007262
Tuesday             0.007174
Saturday            0.007118
Friday              0.007016
June                0.006898
Monday              0.006305
Sunday              0.005971
July                0.005896
May                 0.005796
October             0.005109
September           0.004180
August              0.004009
November            0.003881
prcp                0.003695
April               0.003103